h1 {
    --color1: #00B32C;
    --color2: #ff0a0a;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 75px;
    background: repeating-linear-gradient(
      45deg,
      var(--color1),
      var(--color1) 30px,
      var(--color2) 30px,
      var(--color2) 60px
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: 40s linear 0s infinite move;
  }

  #front-image {
    height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .hidden {
    display: none;
}